.primary-layout {
  height: 100%;
  .primary-sider {
    height: 100%;
  }
  .primary-header {
    height: 64px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color 0.3s;
      float: left;
      &:hover {
        color: #1890ff;
      }
    }
    .ant-breadcrumb {
      margin-top: 19px;
    }
  }
  .primary-content {
    height: calc(100% - 64px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
  }
}
